@import "tailwindcss";

@plugin "@iconify/tailwind4" {
	prefixes: lucide, devicon;
}

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-weak: var(--weak-color);
	--color-background: var(--background-color);
	--color-selection: var(--selection-color);
}

:root {
	--primary-color: #0e0e0e;
	--secondary-color: #505050;
	--background-color: #ffffff;
	--weak-color: #e0e0e0;
	--selection-color: #adadadc3;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #dddddd;
		--secondary-color: #aaaaaa;
		--background-color: #0e0e0e;
		--weak-color: #5d5d5d;
		--selection-color: #adadadc3;
	}
}

html {
	font-family: "Inter", sans-serif;
	color: var(--primary-color);
	background-color: var(--background-color);

	user-select: none;

	::selection {
		background-color: var(--selection-color);
	}
}
