@import "tailwindcss";

@plugin "@iconify/tailwind4" {
	prefixes: lucide, devicon;
}

@theme {
	--color-primary: var(--primary-color);
	--color-secondary: var(--secondary-color);
	--color-weak: var(--weak-color);
	--color-background: var(--background-color);
	--color-selection: var(--selection-color);
}

:root {
	--primary-color: #0e0e0e;
	--secondary-color: #50504d;
	--background-color: #fffffd;
	--weak-color: #e0e0de;
	--selection-color: #adadacc3;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #dddddb;
		--secondary-color: #aaaaa8;
		--background-color: #0e0e0c;
		--weak-color: #5d5d5a;
		--selection-color: #adadacc3;
	}
}

html {
	font-family: "Inter", sans-serif;
	color: var(--primary-color);
	background-color: var(--background-color);

	user-select: none;

	::selection {
		background-color: var(--selection-color);
	}
}
